@font-face {
  font-family: GTA;
  src: url(./fonts/GTA\ Russian.ttf);
}

body {
  background-color: aqua;
}

.game-container {
  /* width: 300px; */
  margin: auto;
  text-align: center;
}

.game-banner {
  color: #4c7079;
}

.game-control-new_game {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}